/* Css for Web pages*/

* {
    box-sizing: border-box;
    margin:0 auto;
}
body{
    background-color: black;
    background-image: url(/assets/images/swirl_pattern.png);
}
header {
    background:#ffffff;
    padding:0 50 82;
    font-family: Georgia, 'Times New Roman', Times, serif;
    width:100%;
    border-bottom: 2px;
    border-bottom-style:solid;
    color:#777777;    
}
#navigation {
    float:right;
    padding: 25 50;
    font-size: 20px;
}
#myName{
    float:left;
    color:#ffffff;
    font-size: 28px;
    padding: 25;
    margin-left: 200px;
    background-color:#4aaaa5;
    
}
#portfolio1{
    color:#ffffff;
    font-size: 28px;
    margin-left:100px;
}
#contact1{
    color:#ffffff;
    font-size: 28px;
    margin-left:100px;
}
.container{
    background: #ffffff;
    width: 960px;
    padding:50px;
    margin-top: 50px;
    margin-bottom: 100px;
}

#bio-image {
    width:100%;
    margin: 50px;
}
#img-bio {
    width:200px;
    height:200px;
    float:left;
}

#footer {
    position: absolute;
    margin:0;
    background:#666666;;
    padding:20px;
    width: 100%; 
    border-top: 5px;
    border-top-style: solid;   
    text-align: center;
    border-color: #4aaaa5
}