/* Css for Web pages*/

* {
    box-sizing: border-box;
    margin:0 auto;
}
header {
    background:#4aaaa5;
    padding:20px;
    font-family: Georgia, 'Times New Roman', Times, serif;
    width:100%;
    border-bottom: 5px;
    border-bottom-style:solid;
    color:#777777;    
}
#navigation {
    float:right;
    font-size: 20px;
    width:350;
    text-align:center;
}
#myName{
    color:#ffffff;
    font-size: 28px;
    margin-left:100px;
}
.container{
    background: #ffffff;
    padding:50px;
    border-style:solid;
    border-color: black;
    border: 5px;
    
}
.container1{
    background:#ffffff;
    padding:55px;
    margin:20 200;
    border-style:solid;
    border-color: black;
    border: 5px;
    
}
#bio-image {
    width:100%;
    margin: 50px;
}
#img-bio {
    width:200px;
    height:200px;
    float:left;
}

#footer {
    position: relative;
    margin:0;
    background:#666666;;
    padding:20px;
    width: 100%; 
    border-top: 5px;
    border-top-style: solid;   
    text-align: center;
}